In [102]:

import numpy as np # linear algebra
from pandas import DataFrame
from pandas import read_csv
import seaborn as sns # visualization
import matplotlib.pyplot as plt

from sklearn.preprocessing import normalize
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

%matplotlib inline

In [103]:
ls

iris.csv  Iris.ipynb

In [104]:
# load iris database
df = read_csv('iris.csv')
df.columns=['sepal_', 'sepal__', 'petal_', 'petal__', 'type']
types_names=df['type'].unique()
df.head()

   sepal_  sepal__  petal_  petal__    type
0     5.1      3.5     1.4      0.2  Setosa
1     4.9      3.0     1.4      0.2  Setosa
2     4.7      3.2     1.3      0.2  Setosa
3     4.6      3.1     1.5      0.2  Setosa
4     5.0      3.6     1.4      0.2  Setosa

In [105]:
# sns.pairplot( data=iris, 
#              vars=iris.columns[:-1])

In [106]:
class Utils:
    
    def simple_encoder(value, series):
        return [index for index , element in enumerate(series.unique()
                                                      ) if str(element)==str(value) ]

    def multy_encoder(values, series):
        array=np.array([Utils.simple_encoder(value=value,
                                             series=df['type']) for value in values])
        array.shape=(len(array),)
        return array
    
    def Relu(series, clf='number_to_str'):
        return series.replace( range(len(types_names)), types_names) if clf=='number_to_str' else series.replace(types_names, range(len(types_names))) 

    
    def normalize(df):
        return df[columns[:-1]].apply(
            lambda series: (series - series.min()
                    ) / (series.max() - series.min()))

In [107]:
df

     sepal_  sepal__  petal_  petal__       type
0       5.1      3.5     1.4      0.2     Setosa
1       4.9      3.0     1.4      0.2     Setosa
2       4.7      3.2     1.3      0.2     Setosa
3       4.6      3.1     1.5      0.2     Setosa
4       5.0      3.6     1.4      0.2     Setosa
..      ...      ...     ...      ...        ...
145     6.7      3.0     5.2      2.3  Virginica
146     6.3      2.5     5.0      1.9  Virginica
147     6.5      3.0     5.2      2.0  Virginica
148     6.2      3.4     5.4      2.3  Virginica
149     5.9      3.0     5.1      1.8  Virginica

[150 rows x 5 columns]

In [108]:
df['type']=Utils.multy_encoder(values=df['type'], series=df['type'])

In [109]:
df

     sepal_  sepal__  petal_  petal__  type
0       5.1      3.5     1.4      0.2     0
1       4.9      3.0     1.4      0.2     0
2       4.7      3.2     1.3      0.2     0
3       4.6      3.1     1.5      0.2     0
4       5.0      3.6     1.4      0.2     0
..      ...      ...     ...      ...   ...
145     6.7      3.0     5.2      2.3     2
146     6.3      2.5     5.0      1.9     2
147     6.5      3.0     5.2      2.0     2
148     6.2      3.4     5.4      2.3     2
149     5.9      3.0     5.1      1.8     2

[150 rows x 5 columns]

In [110]:
df.describe()

           sepal_     sepal__      petal_     petal__        type
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333    1.000000
std      0.828066    0.435866    1.765298    0.762238    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [111]:
series=Utils.Relu(series=df['type'], clf='number_to_str')

In [112]:
series

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: type, Length: 150, dtype: object

In [113]:
df

     sepal_  sepal__  petal_  petal__  type
0       5.1      3.5     1.4      0.2     0
1       4.9      3.0     1.4      0.2     0
2       4.7      3.2     1.3      0.2     0
3       4.6      3.1     1.5      0.2     0
4       5.0      3.6     1.4      0.2     0
..      ...      ...     ...      ...   ...
145     6.7      3.0     5.2      2.3     2
146     6.3      2.5     5.0      1.9     2
147     6.5      3.0     5.2      2.0     2
148     6.2      3.4     5.4      2.3     2
149     5.9      3.0     5.1      1.8     2

[150 rows x 5 columns]

In [114]:
x,y=df.iloc[:, :-1],df.iloc[:, -1]

In [115]:
x

     sepal_  sepal__  petal_  petal__
0       5.1      3.5     1.4      0.2
1       4.9      3.0     1.4      0.2
2       4.7      3.2     1.3      0.2
3       4.6      3.1     1.5      0.2
4       5.0      3.6     1.4      0.2
..      ...      ...     ...      ...
145     6.7      3.0     5.2      2.3
146     6.3      2.5     5.0      1.9
147     6.5      3.0     5.2      2.0
148     6.2      3.4     5.4      2.3
149     5.9      3.0     5.1      1.8

[150 rows x 4 columns]

In [165]:
scaller=StandardScaler()
x=DataFrame(scaller.fit_transform(x))

In [166]:
x

            0         1         2         3
0   -0.900681  1.019004 -1.340227 -1.315444
1   -1.143017 -0.131979 -1.340227 -1.315444
2   -1.385353  0.328414 -1.397064 -1.315444
3   -1.506521  0.098217 -1.283389 -1.315444
4   -1.021849  1.249201 -1.340227 -1.315444
..        ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832
146  0.553333 -1.282963  0.705921  0.922303
147  0.795669 -0.131979  0.819596  1.053935
148  0.432165  0.788808  0.933271  1.448832
149  0.068662 -0.131979  0.762758  0.790671

[150 rows x 4 columns]

In [167]:
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.2,
                                               random_state=True)

In [168]:
x_train

            0         1         2         3
91   0.310998 -0.131979  0.478571  0.264142
135  2.249683 -0.131979  1.331133  1.448832
69  -0.294842 -1.282963  0.080709 -0.130755
128  0.674501 -0.592373  1.046945  1.185567
114 -0.052506 -0.592373  0.762758  1.580464
..        ...       ...       ...       ...
133  0.553333 -0.592373  0.762758  0.395774
137  0.674501  0.098217  0.990108  0.790671
72   0.553333 -1.282963  0.649083  0.395774
140  1.038005  0.098217  1.046945  1.580464
37  -1.143017  1.249201 -1.340227 -1.447076

[120 rows x 4 columns]

In [169]:
y_train

91     1
135    2
69     1
128    2
114    2
      ..
133    2
137    2
72     1
140    2
37     0
Name: type, Length: 120, dtype: int64

In [170]:
model_log=LogisticRegression()

In [178]:
model_log.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [179]:
model_log.coef_

array([[-1.03183336,  1.03993813, -1.77610267, -1.65393917],
       [ 0.65401126, -0.42197508, -0.36041633, -0.75607096],
       [ 0.3778221 , -0.61796305,  2.136519  ,  2.41001014]])

# [120, 4]*[4,3]=[120:3]
# [120:3]*[3,1]=[120:1]

In [180]:
x_train.shape

(120, 4)

In [181]:
process=np.dot(x_train,model_log.coef_.T)

In [182]:
process+model_log.intercept_

array([[-2.02670067,  1.66245116,  0.36424952],
       [-7.50074271,  1.72738708,  5.77335563],
       [-1.23874877,  2.19387767, -0.95512889],
       [-5.41402906,  1.19294694,  4.22108212],
       [-4.8122681 ,  0.52133189,  4.29093621],
       [ 6.39119429,  2.17784735, -8.56904165],
       [-2.12887687,  2.08937543,  0.03950144],
       [ 5.89899726,  2.41049924, -8.3094965 ],
       [-3.22329329,  2.07418309,  1.14911021],
       [-6.05603873,  1.97969383,  4.0763449 ],
       [-5.33439937,  1.33613808,  3.99826128],
       [ 6.04570108,  2.13459351, -8.1802946 ],
       [-4.43830683,  2.17884058,  2.25946625],
       [-4.39647873,  1.3151343 ,  3.08134443],
       [-2.6735047 ,  2.25533749,  0.41816721],
       [-9.26589714,  1.95205519,  7.31384195],
       [ 5.71087464,  2.25719712, -7.96807176],
       [ 6.62782815,  2.05773433, -8.68556249],
       [ 5.22382426,  2.38254455, -7.60636881],
       [-0.91300266,  1.38405264, -0.47104999],
       [ 5.92307321,  2.31076895, -8.23384216],
       [ 5.86426161,  2.57158253, -8.43584414],
       [-5.97360256,  0.92690115,  5.04670142],
       [-5.11908492,  1.33873107,  3.78035384],
       [-6.35337299,  1.96418987,  4.38918312],
       [-5.63174068,  1.09342366,  4.53831702],
       [-3.70325123,  1.49690754,  2.20634369],
       [-1.27858819,  1.0160954 ,  0.26249279],
       [-7.93208326,  2.09732068,  5.83476258],
       [-0.68738079,  1.62645764, -0.93907685],
       [ 6.19719926,  2.05254836, -8.24974761],
       [-4.43361862,  1.15207686,  3.28154176],
       [-4.16861578,  1.65280486,  2.51581093],
       [ 5.65924751,  2.5815911 , -8.24083861],
       [ 6.14629083,  2.22903321, -8.37532405],
       [-5.47988316,  0.93742395,  4.54245921],
       [ 6.43143594,  1.83550505, -8.266941  ],
       [-3.2003945 ,  1.20290266,  1.99749184],
       [-3.85903537,  1.08559185,  2.77344353],
       [-2.33556238,  2.08175504,  0.25380733],
       [-1.68672053,  1.65975356,  0.02696697],
       [-5.56394785,  0.52641767,  5.03753018],
       [-2.97442034,  1.14414264,  1.8302777 ],
       [ 6.77968568,  1.90173462, -8.6814203 ],
       [-2.34025764,  2.88130831, -0.54105066],
       [-2.12060728,  2.15830259, -0.03769531],
       [-4.30618933,  1.39697244,  2.90921689],
       [-0.143973  ,  2.13511544, -1.99114245],
       [-5.36669496,  0.14798165,  5.2187133 ],
       [-1.65009608,  1.89510083, -0.24500475],
       [ 6.26616924,  2.25709251, -8.52326175],
       [ 5.45495213,  2.44369054, -7.89864267],
       [ 7.69149255,  1.80957628, -9.50106883],
       [-4.69310134,  0.92451076,  3.76859058],
       [ 6.0425852 ,  2.18557235, -8.22815755],
       [-3.56001559,  1.57314567,  1.98686991],
       [-4.91514888,  1.55058619,  3.36456269],
       [-3.1522426 ,  1.00344208,  2.14880052],
       [ 6.03743855,  2.2928768 , -8.33031535],
       [ 4.82864972,  2.06836616, -6.89701588],
       [-0.99420467,  2.21664637, -1.2224417 ],
       [ 5.67266375,  2.54321381, -8.21587756],
       [-6.73360185,  2.08201932,  4.65158253],
       [-1.87055718,  1.99981229, -0.12925511],
       [-7.44503994,  1.74476279,  5.70027714],
       [-5.34195025,  1.1193018 ,  4.22264845],
       [-3.5328737 ,  2.6413961 ,  0.89147761],
       [-3.96116163,  0.29355657,  3.66760506],
       [-5.87469834,  0.54929099,  5.32540735],
       [-0.41376313,  1.66773734, -1.25397421],
       [ 7.1314036 ,  1.61582032, -8.74722392],
       [-1.22772971,  2.0585701 , -0.83084039],
       [ 4.02411576,  2.84525533, -6.86937108],
       [-1.25216501,  2.23225495, -0.98008994],
       [-3.30806963,  2.03829639,  1.26977324],
       [ 5.5117259 ,  2.01199211, -7.52371802],
       [-3.58255503,  2.37047154,  1.21208349],
       [ 5.31569304,  1.71580827, -7.03150131],
       [ 5.89435194,  1.99109295, -7.88544488],
       [-4.50579652,  0.23230817,  4.27348834],
       [-3.48947328,  0.80190495,  2.68756833],
       [-5.69483825,  0.86087639,  4.83396186],
       [ 5.90965697,  2.34914623, -8.2588032 ],
       [ 6.20582114,  1.82031051, -8.02613165],
       [-2.3706145 ,  0.87062289,  1.49999161],
       [ 5.83002728,  2.20595509, -8.03598236],
       [-3.96310036,  1.11608555,  2.84701481],
       [ 5.47902807,  2.34396025, -7.82298832],
       [-4.43876527,  1.25938131,  3.17938396],
       [-2.27553781,  0.91911115,  1.35642666],
       [ 6.17036678,  2.12930292, -8.2996697 ],
       [-4.58904341,  0.66680661,  3.92223681],
       [ 6.58722009,  2.24682075, -8.83404083],
       [-0.67911826,  1.46817435, -0.78905609],
       [ 5.7022457 ,  2.26222452, -7.96447021],
       [-0.93350428,  2.35226336, -1.41875908],
       [-1.06404239,  2.38555707, -1.32151468],
       [ 6.26341271,  2.23411679, -8.49752949],
       [ 5.31651084,  2.56131298, -7.87782381],
       [ 0.22044245,  1.95873299, -2.17917544],
       [ 7.53172478,  1.82269427, -9.35441906],
       [-1.59056578,  1.48637813,  0.10418765],
       [-2.36704017,  1.73910332,  0.62793686],
       [ 6.04809826,  2.2315238 , -8.27962206],
       [-2.85612132,  1.92077636,  0.93534496],
       [-1.14448282,  1.62407167, -0.47958885],
       [-4.18361141,  2.43975656,  1.74385484],
       [-2.77409445,  2.16089779,  0.61319666],
       [-3.96310036,  1.11608555,  2.84701481],
       [ 5.34609984,  2.50753413, -7.85363397],
       [ 4.98958757,  2.59958785, -7.58917543],
       [-3.99375331,  1.84614899,  2.14760432],
       [-1.6820752 ,  2.07915985, -0.39708464],
       [-5.04878876,  2.08927964,  2.95950912],
       [-0.50287538,  2.35744934, -1.85457396],
       [-3.47798872,  1.8132671 ,  1.66472162],
       [-3.94177389,  1.22058999,  2.72118389],
       [-3.99426169,  2.14564927,  1.84861242],
       [-5.7240679 ,  0.84070068,  4.88336723],
       [ 6.97056483,  2.07801246, -9.04857729]])

In [183]:
_process_=np.dot(process,model_log.intercept_)

In [184]:
process

array([[-1.74501426, -0.11310694,  1.8581212 ],
       [-7.2190563 , -0.04817101,  7.26722731],
       [-0.95706236,  0.41831957,  0.53874279],
       [-5.13234264, -0.58261116,  5.7149538 ],
       [-4.53058168, -1.25422621,  5.78480789],
       [ 6.67288071,  0.40228926, -7.07516996],
       [-1.84719045,  0.31381733,  1.53337312],
       [ 6.18068368,  0.63494114, -6.81562482],
       [-2.94160688,  0.29862499,  2.64298189],
       [-5.77435231,  0.20413573,  5.57021658],
       [-5.05271295, -0.43942002,  5.49213297],
       [ 6.3273875 ,  0.35903541, -6.68642291],
       [-4.15662041,  0.40328248,  3.75333794],
       [-4.11479232, -0.4604238 ,  4.57521611],
       [-2.39181828,  0.47977939,  1.91203889],
       [-8.98421072,  0.17649709,  8.80771364],
       [ 5.99256106,  0.48163902, -6.47420008],
       [ 6.90951457,  0.28217624, -7.19169081],
       [ 5.50551068,  0.60698645, -6.11249713],
       [-0.63131624, -0.39150546,  1.0228217 ],
       [ 6.20475962,  0.53521085, -6.73997047],
       [ 6.14594803,  0.79602443, -6.94197246],
       [-5.69191615, -0.84865695,  6.5405731 ],
       [-4.8373985 , -0.43682703,  5.27422553],
       [-6.07168657,  0.18863177,  5.8830548 ],
       [-5.35005427, -0.68213444,  6.0321887 ],
       [-3.42156481, -0.27865056,  3.70021537],
       [-0.99690177, -0.7594627 ,  1.75636447],
       [-7.65039684,  0.32176258,  7.32863426],
       [-0.40569438, -0.14910046,  0.55479484],
       [ 6.47888567,  0.27699026, -6.75587593],
       [-4.15193221, -0.62348124,  4.77541344],
       [-3.88692937, -0.12275324,  4.00968261],
       [ 5.94093393,  0.806033  , -6.74696693],
       [ 6.42797725,  0.45347511, -6.88145236],
       [-5.19819674, -0.83813415,  6.03633089],
       [ 6.71312236,  0.05994695, -6.77306931],
       [-2.91870808, -0.57265544,  3.49136352],
       [-3.57734896, -0.68996625,  4.26731521],
       [-2.05387596,  0.30619694,  1.74767902],
       [-1.40503411, -0.11580454,  1.52083865],
       [-5.28226143, -1.24914043,  6.53140186],
       [-2.69273392, -0.63141546,  3.32414938],
       [ 7.0613721 ,  0.12617652, -7.18754861],
       [-2.05857123,  1.10575021,  0.95282102],
       [-1.83892086,  0.38274449,  1.45617637],
       [-4.02450292, -0.37858565,  4.40308857],
       [ 0.13771342,  0.35955735, -0.49727077],
       [-5.08500854, -1.62757645,  6.71258499],
       [-1.36840966,  0.11954273,  1.24886693],
       [ 6.54785566,  0.48153441, -7.02939006],
       [ 5.73663854,  0.66813244, -6.40477098],
       [ 7.97317896,  0.03401818, -8.00719714],
       [-4.41141493, -0.85104734,  5.26246226],
       [ 6.32427161,  0.41001425, -6.73428587],
       [-3.27832917, -0.20241243,  3.4807416 ],
       [-4.63346247, -0.22497191,  4.85843438],
       [-2.87055619, -0.77211602,  3.64267221],
       [ 6.31912497,  0.5173187 , -6.83644367],
       [ 5.11033614,  0.29280806, -5.4031442 ],
       [-0.71251826,  0.44108827,  0.27142998],
       [ 5.95435017,  0.76765571, -6.72200588],
       [-6.45191543,  0.30646122,  6.14545421],
       [-1.58887076,  0.22425419,  1.36461657],
       [-7.16335352, -0.0307953 ,  7.19414883],
       [-5.06026383, -0.6562563 ,  5.71652014],
       [-3.25118729,  0.865838  ,  2.38534929],
       [-3.67947521, -1.48200153,  5.16147674],
       [-5.59301192, -1.22626711,  6.81927904],
       [-0.13207671, -0.10782076,  0.23989748],
       [ 7.41309001, -0.15973777, -7.25335224],
       [-0.9460433 ,  0.283012  ,  0.6630313 ],
       [ 4.30580217,  1.06969723, -5.3754994 ],
       [-0.9704786 ,  0.45669685,  0.51378175],
       [-3.02638322,  0.26273829,  2.76364492],
       [ 5.79341232,  0.23643401, -6.02984633],
       [-3.30086862,  0.59491344,  2.70595517],
       [ 5.59737946, -0.05974983, -5.53762963],
       [ 6.17603836,  0.21553485, -6.3915732 ],
       [-4.2241101 , -1.54324993,  5.76736002],
       [-3.20778687, -0.97365315,  4.18144001],
       [-5.41315184, -0.91468171,  6.32783354],
       [ 6.19134339,  0.57358813, -6.76493152],
       [ 6.48750756,  0.04475241, -6.53225996],
       [-2.08892808, -0.90493521,  2.99386329],
       [ 6.1117137 ,  0.43039699, -6.54211068],
       [-3.68141395, -0.65947255,  4.34088649],
       [ 5.76071449,  0.56840215, -6.32911664],
       [-4.15707885, -0.51617679,  4.67325564],
       [-1.99385139, -0.85644695,  2.85029834],
       [ 6.4520532 ,  0.35374482, -6.80579802],
       [-4.307357  , -1.10875149,  5.41610849],
       [ 6.8689065 ,  0.47126265, -7.34016915],
       [-0.39743185, -0.30738375,  0.70481559],
       [ 5.98393211,  0.48666642, -6.47059853],
       [-0.65181786,  0.57670526,  0.07511261],
       [-0.78235598,  0.60999897,  0.17235701],
       [ 6.54509913,  0.45855869, -7.00365781],
       [ 5.59819725,  0.78575488, -6.38395213],
       [ 0.50212887,  0.18317489, -0.68530376],
       [ 7.8134112 ,  0.04713617, -7.86054737],
       [-1.30887936, -0.28917997,  1.59805933],
       [-2.08535376, -0.03645478,  2.12180854],
       [ 6.32978468,  0.4559657 , -6.78575037],
       [-2.5744349 ,  0.14521826,  2.42921664],
       [-0.8627964 , -0.15148643,  1.01428283],
       [-3.90192499,  0.66419846,  3.23772652],
       [-2.49240803,  0.38533969,  2.10706835],
       [-3.68141395, -0.65947255,  4.34088649],
       [ 5.62778626,  0.73197603, -6.35976229],
       [ 5.27127399,  0.82402976, -6.09530375],
       [-3.71206689,  0.07059089,  3.64147601],
       [-1.40038879,  0.30360175,  1.09678704],
       [-4.76710234,  0.31372154,  4.4533808 ],
       [-0.22118897,  0.58189124, -0.36070227],
       [-3.1963023 ,  0.037709  ,  3.1585933 ],
       [-3.66008747, -0.55496811,  4.21505558],
       [-3.71257528,  0.37009117,  3.3424841 ],
       [-5.44238149, -0.93485742,  6.37723891],
       [ 7.25225125,  0.30245436, -7.5547056 ]])

In [159]:
model_log.intercept_.shape

(3,)

In [130]:
model_log.intercept_

array([-0.28168642,  1.7755581 , -1.49387168])

In [152]:
x_test.shape

(30, 4)

In [135]:
np.dot(x_test,model_log.coef_)+model_log.intercept_

ValueError: shapes (30,4) and (3,4) not aligned: 4 (dim 1) != 3 (dim 0)

In [139]:
model_log.predict(x_test)

array([0, 1, 1, 0, 2, 1, 2, 0, 0, 2, 1, 0, 2, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       2, 0, 2, 1, 0, 0, 1, 2])