In [1]:
from numpy import array
from numpy import dot
from numpy import exp as exponent
from numpy.random import normal
from math import factorial
from math import log as ln_e
from random import random as random
from pandas import DataFrame
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from matplotlib import pyplot
from time import sleep
from warnings import filterwarnings as message
message('ignore')

# local function

In [2]:
def ReLu(element):
    return True if element>0.5 else False

def gender_switch(gend):
    return 'Male' if gend else 'Female'

def age_generator(diapazone_=19, _diapazone=61):
        random_numbers=[random() for ranger in range(100)]
        _return_=[diapazone_ + (_diapazone-diapazone_)* random_numbers[index] 
                 for index in range(len(random_numbers))]
        return _return_

# N1

In [46]:
elements=[random() for ranger in range(100)]
genders=[ReLu(element) for element in elements ]
_genders_=[gender_switch(gender) for gender in genders]

# N2

In [5]:
ages=age_generator()
ages=[int(age) for age in ages]

# N3

In [12]:
guops=age_generator(200, 10000)
guops=[int(guop) for guop in guops]

In [13]:
def _sigmoid_(element):
    return element/100

In [14]:
def sigmoid(element):
    return exponent(element)/(exponent(element)+1)

In [48]:
def head_skiline(df):
    df['Genders']=genders
    for index in df.index:
        if df['Genders'][index]:
            df['Sold'][index]+=37
            
            if df['Guops'][index]>7000:
                df['Sold'][index]+=25
                
                if df['Ages'][index]<35:
                    df['Sold'][index]+=33
                    
                elif df['Ages'][index]>40:
                    df['Sold'][index]+=19
                    
                else:
                    df['Sold'][index]+=14

            else:
                if df['Ages'][index]<35:
                    df['Sold'][index]+=33
                    
                elif df['Ages'][index]>40:
                    df['Sold'][index]+=19
                    
                else:
                    df['Sold'][index]+=14
                    
                    
                    
                    
        else:
            if df['Guops'][index]>7000:
                df['Sold'][index]+=18
                
                if df['Ages'][index]<35:
                    df['Sold'][index]+=23
                    
                elif df['Ages'][index]>40:
                    df['Sold'][index]+=16
                    
                else:
                    df['Sold'][index]+=11

            else:
                if df['Ages'][index]<35:
                    df['Sold'][index]+=29
                    
                elif df['Ages'][index]>40:
                    df['Sold'][index]+=18
                    
                else:
                    df['Sold'][index]+=9
    
    df['Sold']=[int(100*_sigmoid_(sold))/100 for sold in df['Sold']]
    return df

In [49]:
df=DataFrame(_genders_)
df[7]=guops
df[8]=ages
df[9]=[0 for zero in range(len(guops))]
df.columns=['Genders', 'Guops', 'Ages','Sold']
df

   Genders  Guops  Ages  Sold
0     Male   7148    53     0
1   Female   2885    52     0
2     Male   5872    29     0
3     Male   5456    56     0
4   Female   7999    34     0
..     ...    ...   ...   ...
95  Female   4171    60     0
96  Female   9817    21     0
97  Female   4396    21     0
98    Male   1436    47     0
99  Female   6516    29     0

[100 rows x 4 columns]

In [50]:
_df_=head_skiline(df)

In [51]:
df

    Genders  Guops  Ages  Sold
0      True   7148    53  0.81
1     False   2885    52  0.18
2      True   5872    29  0.70
3      True   5456    56  0.56
4     False   7999    34  0.41
..      ...    ...   ...   ...
95    False   4171    60  0.18
96    False   9817    21  0.41
97    False   4396    21  0.28
98     True   1436    47  0.56
99    False   6516    29  0.28

[100 rows x 4 columns]

In [52]:
X,Y=df.drop('Sold', axis=1),df['Sold']
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.23, random_state=True)

In [53]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [54]:
model.coef_

array([ 4.34645306e-01,  2.65840643e-05, -3.23417932e-03])

In [55]:
model.intercept_

0.22893150915286642

In [56]:
# x_1*w_1 + x_2*w_2, x_3*w_3 + bias = y

In [64]:
Test_values=DataFrame(array(model.predict(x_test)))
y_test.index=range(len(y_test))
Test_values[19]=y_test
Test_values.columns=['Predict', 'Real']
Test_values.head(8)

    Predict  Real
0  0.265080  0.34
1  0.378119  0.41
2  0.510474  0.56
3  0.808571  0.95
4  0.538217  0.56
5  0.691600  0.81
6  0.088134  0.18
7  0.352660  0.41

In [65]:
model.score(x_test,y_test)

0.9266284962610764