In [3]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, normalize, StandardScaler

from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('social.csv')

In [5]:
X = df.drop(["User ID", "Purchased"], axis=1)
y = df[["Purchased"]]

In [6]:
features_num = ["Age", "EstimatedSalary"]
features_cat = ["Gender"]

In [8]:
features_num

['Age', 'EstimatedSalary']

In [14]:
preprocessor = ColumnTransformer([("OneHotEncoder", OneHotEncoder(), features_cat),
                                 ("Normalization", StandardScaler(), features_num)], remainder="passthrough")

In [15]:
X = preprocessor.fit_transform(X)

In [23]:
X=pd.DataFrame(X)
X.head()

     0    1         2         3
0  0.0  1.0 -1.781797 -1.490046
1  0.0  1.0 -0.253587 -1.460681
2  1.0  0.0 -1.113206 -0.785290
3  1.0  0.0 -1.017692 -0.374182
4  0.0  1.0 -1.781797  0.183751

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [25]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [27]:
y_predict = model.predict(X_test)

In [29]:
example_data = [['Male', 50,430000000],['Female', 49,36000],['Male', 36,33000]]

example_data= pd.DataFrame(example_data)
example_data.columns = ['Gender', 'Age', 'EstimatedSalary']
example_data

   Gender  Age  EstimatedSalary
0    Male   50        430000000
1  Female   49            36000
2    Male   36            33000

In [32]:
X_orinak = preprocessor.fit_transform(example_data)
type(X_orinak)

numpy.ndarray

In [34]:
y_new = model.predict(X_orinak)
y_new

array([1, 0, 0])