In [87]:
# put your python code here
import numpy as np
from pandas import DataFrame
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize

In [98]:
df=DataFrame()

In [99]:
df['delta'],df['alfa']=np.random.randint(10,100,10),np.random.randint(10,100,10)

In [106]:
df.head()

   delta  alfa
0     84    86
1     48    42
2     19    64
3     60    30
4     81    39

In [110]:
minimax=DataFrame(np.array(list(MinMaxScaler().fit_transform(df))), columns=df.columns, index=df.index)
minimax.head()

      delta      alfa
0  0.955882  0.906667
1  0.426471  0.320000
2  0.000000  0.613333
3  0.602941  0.160000
4  0.911765  0.280000

In [108]:
standart_data=DataFrame(np.array(list(StandardScaler().fit_transform(df))), columns=df.columns, index=df.index)
standart_data.head()

      delta      alfa
0  1.134506  1.233400
1 -0.641243 -0.451991
2 -2.071707  0.390704
3 -0.049326 -0.911643
4  0.986527 -0.566904

In [109]:
normalize_data=DataFrame(np.array(list(normalize(df))), columns=df.columns, index=df.index)
normalize_data.head()

      delta      alfa
0  0.698740  0.715376
1  0.752577  0.658505
2  0.284598  0.958647
3  0.894427  0.447214
4  0.901002  0.433816