In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import warnings
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
warnings.filterwarnings('ignore')

In [2]:
download_url = ("https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv")

In [4]:
def formula(column):
    e=np.random.normal(scale=2, size=len(column)) + 19
    print('XXXXXXXXXXXXXXXXXXXXXXXX','normalize * random ')
    print('yyyyyyyyyyyyyyyyyyyyyyyy','19','randit')
    return column*e

In [5]:
df= pd.read_csv(download_url)
df.head(4)

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0

In [ ]:
df.to_csv('Kok.csv')

In [5]:
df['x_1']=df['Major_code']
df['x_2']=df['Total']
df['x_3']=df['Men']
df['x_4']=df['Women']
df['x_5']=df['ShareWomen']
df['x_6']=df['Sample_size']
df['x_7']=df['Employed']
df['x_8']=df['Full_time']
df['x_9']=df['Part_time']
df['x_10']=df['Full_time_year_round']
df['x_11']=df['Unemployed']
df['x_12']=df['Unemployment_rate']
df['x_13']=df['Median']
df['x_14']=df['P25th']
df['x_15']=df['P75th']
df['x_16']=df['College_jobs']
df['x_17']=df['Non_college_jobs']
df['x_18']=formula(df['Low_wage_jobs'])
df['x_19']=formula(df['Total'])
df['Y_19']=formula(df['Part_time'])

XXXXXXXXXXXXXXXXXXXXXXXX normalize * random
yyyyyyyyyyyyyyyyyyyyyyyy 19 randit
XXXXXXXXXXXXXXXXXXXXXXXX normalize * random
yyyyyyyyyyyyyyyyyyyyyyyy 19 randit
XXXXXXXXXXXXXXXXXXXXXXXX normalize * random
yyyyyyyyyyyyyyyyyyyyyyyy 19 randit

In [6]:
df.head(2)

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,x_11,x_12,x_13,x_14,x_15,x_16,x_17,x_18,x_19,Y_19
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,37,0.018381,110000,95000,125000,1534,364,3307.364674,39964.391346,4890.060026
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,85,0.117241,75000,55000,90000,350,257,1042.023622,13505.584610,3208.381827

In [7]:
for elem in df.columns:
    del df[elem]
    if elem=='Low_wage_jobs':
        break

In [8]:
for elem in df.columns:
    if elem=='x_7':
        break
    else:
        df[elem]/=max(df[elem])

In [11]:
df.dropna()

,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,x_12,x_13,x_14,x_15,x_16,x_17,x_18,x_19,Y_19
0,0.377792,0.005941,0.011835,0.000918,0.124427,0.008547,1976,1849,270,1207,37,0.018381,110000,95000,125000,1534,364,3307.364674,39964.391346,4890.060026
1,0.377323,0.001920,0.003907,0.000251,0.105115,0.001662,640,556,170,388,85,0.117241,75000,55000,90000,350,257,1042.023622,13505.584610,3208.381827
2,0.377167,0.002174,0.004171,0.000427,0.157941,0.000712,648,558,133,340,16,0.024096,73000,50000,105000,456,176,0.000000,17933.005700,2690.530834
3,0.377479,0.003195,0.006461,0.000440,0.110752,0.003799,758,1069,150,692,40,0.050125,70000,43000,80000,529,102,0.000000,23098.875595,3271.588089
4,0.375605,0.081933,0.122197,0.035889,0.352577,0.068613,25694,23170,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,17644.414246,552299.506746,101056.825593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0.563642,0.021357,0.017548,0.017451,0.657713,0.011159,6259,5043,2190,3602,304,0.046320,26000,20000,39000,2771,2947,12512.118269,161279.234612,39851.766534
169,0.812275,0.007249,0.003003,0.007594,0.843280,0.001662,2125,1848,572,1211,148,0.065112,25000,24000,34000,1488,615,1163.752495,43863.246376,9701.012828
170,0.812432,0.007208,0.003268,0.007392,0.825487,0.003086,2101,1724,648,1293,368,0.149048,25000,25000,40000,986,870,13607.943385,53669.548498,11129.850525
171,0.812588,0.011749,0.005356,0.012032,0.824339,0.004986,3777,3154,965,2738,214,0.053621,23400,19200,26000,2403,1245,5278.896069,90977.681778,18389.937180
172,0.546775,0.002789,0.000771,0.003139,0.906091,0.000475,742,593,237,410,87,0.104946,22000,20000,22000,288,338,3141.002498,19705.047811,4924.360708

In [12]:
df.to_csv('csv_big_data.csv')

In [11]:
y=df['Y_19']
y=y[22:72]
    
X=df.drop(['Y_19'], axis=True)
X=X[22:72]
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1961)
model=LinearRegression()
model.fit(X_train, y_train)
R=model.score(X_test, y_test)
    
y_predict=model.predict(X)
b=pd.DataFrame(model.coef_)
b_=model.intercept_
y.index=range(len(y))    

MSE=sum((y-y_predict)**2)
y_med=sum(y)/len(y)
SSO=0
for elem in y:
    SSO+=(elem-y_med)**2
SSR=0
for elem in y_predict:
    SSR+=(elem-y_med)**2
        
SSE=SSO-SSR
MSR=SSR/len(y)
Sigm=SSE/(SSE/(len(y)))
F_const=MSR/Sigm
F_const

KeyError: 'Y_19'

In [940]:
F=list()

In [941]:
F

[]

In [942]:
df_1=df
for column in df.columns:
    df=df.drop(column)
    
    y=df['Y_19']
    y=y[22:72]
    
    X=df.drop(['Y_19'], axis=1)
    X=X[22:72]
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1961)
    model=LinearRegression()
    model.fit(X_train, y_train)
    R=model.score(X_test, y_test)
    
    y_predict=model.predict(X)
    b=pd.DataFrame(model.coef_)
    b_=model.intercept_
    y.index=range(len(y))
    
    
    
    del X[column]
    MSE=sum((y-y_predict)**2)
    y_med=sum(y)/len(y)
    SSO=0
    for elem in y:
        SSO+=(elem-y_med)**2

    SSR=0
    for elem in y_predict:
        SSR+=(elem-y_med)**2
        
    SSE=SSO-SSR
    MSR=SSR/len(y)
    Sigm=SSE/(SSE/(len(y)))
    F_=MSR/Sigm
    F.append(F_)
    df[column]=_column_

KeyError: "['x_1'] not found in axis"

In [943]:
F

[]

In [944]:
MSE=sum((y-y_predict)**2)
print('MSE:::',MSE)
y_med=sum(y)/len(y)
print('y_med:::',y_med)

SSO=0
for elem in y:
    SSO+=(elem-y_med)**2
print('SSO:::',SSO)
SSR=0
for elem in y_predict:
    SSR+=(elem-y_med)**2
print('SSR:::',SSR)
SSE=SSO-SSR
print('SSO:::',SSO)
MSR=SSR/len(y)
print('SSR:::',SSR)
Sigm=SSE/(SSE/(len(y)))
print('Sigm:::',Sigm)
F_=MSR/G
print('F:::',F_)

MSE::: 39213479012.16728
y_med::: 106573.25785585659
SSO::: 1758581762303.8289
SSR::: 1881439246083.5283
SSO::: 1758581762303.8289
SSR::: 1881439246083.5283
Sigm::: 50.0
F::: 752575698.4334112